body {
  font: "Times New Roman";
  text-align: end;
  letter-spacing: 0.5em;
  top: 15%;
  color: rgba(0, 0, 0, 0.5);
  background: rgb(2, 141, 141);
  text-transform: upperCase;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  font: 3.5em;
  font-style: italic;
  font-language-override: normal;
  animation-name: color;
  animation-delay: 2s;
  animation-duration: 6s;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  width: 100%;
  text-transform: upperCase;
  transform: ease infinite;
  animation: color 10s ease-in-out infinite;
}

@keyframes color {
  0% {
    color: black;
  }
  25% {
    color: brown;
  }
  50% {
    color: darkred;
  }

  75% {
    color: chocolate;
  }
  100% {
    color: aliceblue;
  }
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

.page {
  width: 300px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  text-align: center;
  margin: 4px;
  box-shadow: 4px 4px 10px 2px rgba(0, 12, 3, 4);
}

.conta {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  opacity: 0.6;
  width: 100%;
  height: 30rem;
  margin-top: 2rem;
  justify-content: center;
}

.box {
  opacity: 0.6;
  width: 250px;
  height: 200px;
  border: #251010;
  gap: 2rem;
  background-color: beige;
  border-radius: 20px;
  margin-left: 0.4rem;
  box-shadow: 1px 3px 1px 3.4px rgba(0, 0, 0, 0.5);
}
.box:hover {
  transform: scale(1.1);
}
